{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dish List<a style="float: right" href="{% url 'kitchen:dish-create' %}">Create</a></h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li><a href="{% url 'kitchen:dish-detail' dish.id %}">{{ dish.name }} ({{dish.price}}, {{dish.description}}, {{dish.dish_type}}) </a></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}